# Task 1:

## 1. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [1]:
lst =[]
for num in range(2000, 3201):
    if(num%7 == 0):
        if(num%5 != 0):
            lst.append(num)
print(lst)
        
#print(len(lst))

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

## 2. Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name.

In [2]:
fName = input("Enter First Name: ")
lName = input("Enter Last Name: ")
print(lName, fName)

Enter First Name: Bivash
Enter Last Name: Bairagya
Bairagya Bivash

In [3]:
# Not sure about the required output, so I solve the same problem for different output 

fName1 = input("Enter First Name: ")
lName1 = input("Enter Last Name: ")

fname2= " "
for i in range(len(fName1)-1, -1, -1 ):
    fname2 += fName1[i]
#print (fname2)
    
lName2= " "
for i in range(len(lName1)-1, -1, -1 ):
    lName2 += lName1[i]
#print (lName2)

print(fname2, lName2)

Enter First Name: Bivash
Enter Last Name: Bairagya
 hsaviB  aygariaB

## 3. Write a Python program to find the volume of a sphere with diameter 12 cm.  Formula: V=4/3 * π * r 3

In [4]:
D = 12 # Diameter D
r= D/2 # Radius r
V = (4/3)*(22/7)*r**3 # Volume V
print('The voulme of the sphere is: ')
print(str(V) + ' cu.cm') # printing volume after calculation

The voulme of the sphere is:
905.142857142857 cu.cm

## 4. Write a program which accepts a sequence of comma-separated numbers from console and generate a list.

In [5]:
numbers = input("Please enter comma-separated numbers: ")

my_num = numbers.split(',')

'''for num in numbers:
    my_lst.append(num)'''
    
print(list(my_num))

Please enter comma-separated numbers: 12,23,1,45,90,08,97,509
['12', '23', '1', '45', '90', '08', '97', '509']

## 5. Create the below pattern using nested for loop in Python.

In [6]:
for i in range(1,6):
    for j in range(i):
        print('*', end='')
    print('')
    
for k in range(4,0,-1):
    for l in range(k):
        print('*', end='')
    print('')

*
**
***
****
*****
****
***
**
*

## 6. Write a Python program to reverse a word after accepting the input from the user. 
 
## Sample Output: 
## Input word: Ineuron
## Output: noruenI

In [7]:
word = input("Enter any word: ")

for i in range(len(word)):
    print(word[(len(word)-1)-i], end='')

Enter any word: Ineuron
noruenI

In [8]:
# Another way

word2 = input("Enter any word: ")

myWord = ' '
for i in range(-1, - (len(word2)+1),-1):
    myWord += word2[i]
print(myWord)

Enter any word: Ineuron
 noruenI

## 7.Write a Python Program to print the given string in the format specified in the ​sample output. 
 ## WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens

In [9]:
print("WE, THE PEOPLE OF INDIA,\n      having solemnly resolved to constitute India into a SOVEREIGN, ! \n  \t   SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n  \t    and to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
      having solemnly resolved to constitute India into a SOVEREIGN, !
  	   SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
  	    and to secure to all its citizens